# Ignore all files
/*

# Include the git configuration
!.gitignore

# Include docs, etc, and scripts folders
!docs/
!docs/**/*
!etc/
!etc/*/**

# Include the project files
!src/
!src/*/**
!pom.xml

# Include the license and readme
!LICENSE
!README.md

