*~
*.iml
*.ipr
*.iws
.gradle
.idea
.m2
build
out
nbproject
bin
doc
target
!.gitignore
!.gitmodules
!.mailmap
!.gitattributes
dependency-reduced-pom.xml
.classpath
.project
.settings
.db
.DS_Store
.vscode
scripts/logs
*.json
*.dat
*.mca
